---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'Soy-Control',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Descargar aplicacion',
        href: 'https://apps.apple.com/gt/app/soy-control/id6544788186',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title"> Soy Control </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Soy Control</span> es una aplicación ideal para iglesias, diseñada para facilitar un
        control interno detallado y eficiente.
      </span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Características"
    title="Todo lo que necesitas para una mejor gestión de tus iglesias"
    subtitle="Una solución profesional y completa diseñada para simplificar y optimizar la administración en iglesias"
    items={[
      {
        title: 'Control de Actividades',
        description:
          'Registra todas las actividades realizadas en tu iglesia, como ayunos, escuela dominical, cultos evangelísticos y más.',
        icon: 'tabler:book-2',
      },
      {
        title: 'Control de Ofrendas',
        description:
          'Gestiona las finanzas de tu iglesia registrando las ofrendas recolectadas en cada reunión de manera sencilla y ordenada.',
        icon: 'tabler:zoom-money',
      },
      {
        title: 'Control de Visitas',
        description:
          'Registra la información de las visitas para darles un seguimiento personalizado y fortalecer su conexión con la iglesia.',
        icon: 'tabler:user-heart',
      },
      {
        title: 'Asistencia Personal',
        description:
          'Lleva un control detallado de la asistencia de tus miembros para brindarles seguimiento y apoyo en su vida espiritual.',
        icon: 'tabler:user-star',
      },
      {
        title: 'Asistencia Infantil',
        description:
          'Registra la asistencia de los niños en sus clases y premia a los más constantes, incentivando a los padres a participar activamente.',
        icon: 'tabler:user-up',
      },
      {
        title: 'Asistencia General',
        description:
          'Controla la asistencia de damas, caballeros, jóvenes y niños en cada actividad de tu iglesia de forma organizada.',
        icon: 'tabler:user-hexagon',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Ventajas"
    title="El equilibrio perfecto entre diversión y funcionalidad"
    items={[
      {
        title: 'Mensajes de Confirmación',
        description:
          'Confirma la asistencia de tus pastores de manera rápida y eficiente mediante mensajes automáticos vía WhatsApp. Ahorra tiempo y mejora la coordinación.',
      },
      {
        title: 'Reportes Mensuales',
        description:
          'Obtén reportes detallados con resúmenes de todas las actividades de tu iglesia. Ideal para evaluar el progreso y tomar decisiones informadas.',
      },
      {
        title: 'Seguimiento Estadístico',
        description:
          'Monitorea el crecimiento y desempeño de tus iglesias con gráficos interactivos que simplifican la toma de decisiones estratégicas.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  />
</Layout>
